<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/landingpage.css">
</head>
<body>
    <div class="hero">
        <h1>Fashion Ledger</h1>
        <p>Track your brand's success with ease.</p>
        <div class="buttons">
            <a href="login.html" class="btn-primary">Login</a>
            <a href="signup.html" class="btn-secondary">Get started</a>
        </div>
        <!-- Learn More Section -->
        <div class="learn-more">
            <p>Learn More</p>
            <a href="learn_more.html">
                <div class="arrow-container">
                    <div class="arrow-v"></div>
                </div>
            </a>
        </div>
    </div>

</body>
</html>
