<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    <link rel="stylesheet" href="../assets/css/learn_more.css">
</head>
<body>
    <!-- Arrow Section -->
    <a href="landing_page.html" class="arrow-link">
        <div class="arrow"></div>
    </a>
    
    <div class="split-screen">
        <!-- Left Section -->
        <div class="left">
            <div class="interactive-container">
                <h2>Our platform allows you to:</h2>
                <ul>
                    <li>Simulate revenue forecasts</li>
                    <li>Analyse Costs</li>
                    <li>See how markup affects earnings</li>
                </ul>
            </div>
        </div>
        
        <!-- Right Section -->
        <div class="right">
            <div class="content">
                <h2 class="bold-link"><a href="meet_the_team.html">Meet the Team</h2>
                <div class="contact-info">
                    <p>Email: sheeshgroup@gmail.com</p>
                    <p>Phone: +233 542 509 315</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
