<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/sign_up_style.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm" onsubmit="return validateForm(event)">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Log-In</button>
        </form>
        <p>Don't Have an Account? <a href="signup.html">Sign up here</a></p>
        <div id="message"></div>
    </div>
    <script src="password_v2.js"></script>
</body>
</html>